FAZER_API_KEY=YOUR_FAZERCARDS_API_KEY
AKTIVSIM_API_KEY=YOUR_AKTIVSIM_API_KEY
SECRET_KEY=change-this-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
USD_UZS=12500
MARKUP_UZS=2000
PORT=10000
